body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(206, 6, 43);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer{
    background-color: rgb(206, 6, 43);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1{
    font-size: 3em;
    font-family: Impact, 'Charcoal', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-top: 50PX;
    margin-bottom: 50px;
}

nav{
    margin: 0px;
    padding: 0 10%;
    background-color: rgb(206, 6, 43);
    display: flex;
    flex-direction: column;
}

nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

nav ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav ul li a{
    flex-grow: 1;
    padding: 25px;
    font-size: 1em;
    font-family: "Calibri","Open Sans",sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover{
    color: #000000;
    background-color: #C8C8C8;
}

main{
    min-height: 570px;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: rgb(206, 6, 43);
    text-align: center;
    text-shadow: black 4px 4px 5px;
}

main{
    padding: 10px 10%;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black
}

#btnStart{
    color: white;
    background: #da3131;
    display: flex;
    margin: auto;
    height: 30px;
    width: 66px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}

#btnStart:hover{
    box-shadow: 0 0 8px red;
}

#stats, #selectLevel {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

#selectorLevel:hover{
    box-shadow: 0 0 8px royalblue;
}

#stats span {
    color: rgb(206, 6, 43);
    font-family: cursive;
    font-size: xx-large;
    margin: 20px;
}

#demineurContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#demineur {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#grille{
    display: inline-block;
    margin: auto;
}
    
#grille tr td button{
    border: none;
    background-color: transparent;
}

.case{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-collapse: collapse;
}

#caseNormal{
    background-image: url('../capture/normal.png');
}

#caseNormal:hover{
    background-image: url('../capture/normal.png');
    transform: rotate(180deg);
}

#case0{
    background-image: url('../capture/empty.png');
}
#case1{
    background-image: url('../capture/1.png');
}
#case2{
    background-image: url('../capture/2.png');
}
#case3{
    background-image: url('../capture/3.png');
}
#case4{
    background-image: url('../capture/4.png');
}
#case5{
    background-image: url('../capture/5.png');
}
#case6{
    background-image: url('../capture/6.png');
}
#case7{
    background-image: url('../capture/7.png');
}
#case8{
    background-image: url('../capture/8.png');
}
#case9{
    background-image: url('../capture/bomb.png');
}
#caseFlag{
    background-image: url('../capture/flag.png');
}

#results p{
    text-decoration: underline;
    font-family: Impact, 'Charcoal', sans-serif;
	font-size: 3em;
	display: none;
	text-align: center;
}

#resultWin{
	color: #009655;
}

#resultLose{
	color: #D43C1E;
}

.bomb-cs-go
{
    width:50Px;
    margin-top:40px;
}
.row{
    display: flex;
    text-align: center;
}
.col-1{
    flex-basis: 25%;
}
.col-2{
    flex-basis: 50%;
}
.col-3{
    flex-basis: 5%;
}
.col-4{
    flex-basis: 40%;
}